// ---------------------------------------------------------------------------
// Imports

@import "susy";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 5;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;

$phone-portrait	: 7;
$tablet			: 9;
$computer		: 12;
	$computer-height: 7em;

$header1		: 3.125em;
$header2		: 4.375em;

$background-color: #019875;
	$background-compliment: #f5cc3f;
$font-color		: #333;

$serif-fonts	: Georgia, "Times New Roman", Times, serif;
$sans-serif-fonts	: Tahoma, Helvetica, Arial, sans-serif;

$music-tote		: #8186d5;
$movie-tote		: #85bdc1;
$food-tote		: #e1e297;
$event-tote		: #d66B96;