body {
	background: blue;
}

.headerTout {
	font-size: 3.5em;
}

.mainContainer {
	padding: 0 2em;
}

.introduction,
.sidenote {
	font-size: 1.6em;
}

.sexContainer {
	margin-top: 9em;
}

.raceContainer,
.jobContainer,
.handContainer {
	width: 90%;
}

.raceCheckbox,
.jobCheckbox,
.jobCheckboxBottomRow,
.landCheckbox,
.handCheckbox,
.handCheckboxBottomRow {
	margin-right: 1.5em;
}

.socialTout {
	font-size: 3em;
}