.creatorContainer {
	position: absolute;
	top: 0;
	left: 15%;
	right: 15%;
	margin: 0 auto;
	padding: 0;
	background: #fff;
	@include box-shadow(0 0 15px #000);
}

.header {
	
}

.headerTout {
	margin: 1em 0;
	padding: 0;
	font: 400 4em/1 Quicksand, "Century Gothic", Arial;
	color: #333;
	text-align: center;
}
