body {
	margin: 0 auto;
	padding: 0;
	font-size: 62.5%;
	background-color: $background-color;
}

main,
header,
section,
article,
aside,
nav,
footer {
	display: block;
}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

abbr {
	cursor: help;
	border-bottom: 1px dotted aqua;
}

::selection {
	color: #fff;
	background: $background-compliment;
}

::-moz-selection {
	color: #fff;
	background: $background-compliment;
}

.transition-3s {
	@include transition(all 0.3s ease-in-out);
}