/* line 1, ../sass/tablety.scss */
.creatorContainer {
  width: 90%;
}

/* line 5, ../sass/tablety.scss */
.headerTout {
  font-size: 3em;
}

/* line 12, ../sass/tablety.scss */
.sexContainer,
.raceContainer,
.landContainer,
.handContainer {
  margin-top: 9em;
  height: 4em;
}

/* line 18, ../sass/tablety.scss */
.jobContainer,
.handContainer {
  margin-top: 2em;
  height: 13em;
}

/* line 23, ../sass/tablety.scss */
.handContainer {
  height: 10em;
}

/* line 27, ../sass/tablety.scss */
.landContainer {
  margin-top: 2em;
}

/* line 32, ../sass/tablety.scss */
.sexPortrait,
.racePortrait {
  top: -380%;
}

/* line 41, ../sass/tablety.scss */
.raceCheckbox,
.jobCheckbox,
.jobCheckboxBottomRow,
.landCheckbox,
.handCheckbox,
.handCheckboxBottomRow {
  margin-right: 1em;
}

/* line 50, ../sass/tablety.scss */
.checkBox,
.sexLabel,
.raceLabel,
.jobLabel,
.landLabel,
.handLabel {
  font: 400 1.6em/1 "Century Gothic", Arial, sans-serif;
}

/* line 54, ../sass/tablety.scss */
.handCheckboxBottomRow:nth-child(3n) {
  margin-right: 3em;
}

/* line 58, ../sass/tablety.scss */
.generator {
  margin-left: -3.5em;
  width: 7em;
  height: 1.5em;
  font-size: 3.5em;
  line-height: 1.7;
}

/* line 66, ../sass/tablety.scss */
.socialContainer {
  width: 90%;
}

/* line 70, ../sass/tablety.scss */
.socialTout {
  font-size: 2.5em;
}

/* line 74, ../sass/tablety.scss */
.amazonAd {
  display: none;
}
